In [128]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 25)

In [75]:
df_stops = pd.read_csv('data/stops.txt')

In [76]:
df_stops

      stop_id                     stop_name   stop_lat   stop_lon  stop_code
0         110  Muzeum II Wojny Światowej 02  54.357652  18.658762        110
1         114               Wrzeszcz PKP 03  54.381310  18.604544        114
2         116               Wrzeszcz PKP 05  54.381310  18.604082        116
3         117                  Oliwa PKP 04  54.411140  18.572212        117
4         121               Żabianka SKM 02  54.421120  18.570064        121
...       ...                           ...        ...        ...        ...
1544    14945                  Warneńska 01  54.357629  18.582835       7000
1545    14962                  Przeróbka 01  54.357481  18.683430       7005
1546    14963                  Przeróbka 02  54.357238  18.682489       7006
1547    14964               Lenartowicza 01  54.358041  18.686831       7007
1548    14965               Lenartowicza 02  54.357635  18.686300       7008

[1549 rows x 5 columns]

In [77]:
df_routes = pd.read_csv('data/routes.txt')
df_routes
df_routes['route_type'].value_counts()

700    76
900    10
Name: route_type, dtype: int64

In [78]:
df_stoptimes = pd.read_csv('data/stop_times.txt')
df_stoptimes = df_stoptimes.drop(columns = 'stop_headsign')
df_stoptimes

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type
0,401202301122334_152_401-01,23:34:00,23:34:00,195,0,0,1
1,401202301122334_152_401-01,23:35:00,23:35:00,1959,1,3,3
2,401202301122334_152_401-01,23:36:00,23:36:00,1957,2,3,3
3,401202301122334_152_401-01,23:38:00,23:38:00,1790,3,3,3
4,401202301122334_152_401-01,23:39:00,23:39:00,1320,4,3,3
...,...,...,...,...,...,...,...
2051286,405202301260000_12_405-53,24:14:00,24:14:00,1210,10,3,3
2051287,405202301260000_12_405-53,24:15:00,24:15:00,1208,11,3,3
2051288,405202301260000_12_405-53,24:16:00,24:16:00,1206,12,3,3
2051289,405202301260000_12_405-53,24:20:00,24:20:00,1028,13,0,0
2051290,405202301260000_12_405-53,24:22:00,24:22:00,1020,14,1,0

In [79]:
df_trips = pd.read_csv('data/trips.txt')
df_trips

,route_id,service_id,trip_id,trip_headsign,trip_short_name,direction_id,shape_id,wheelchair_accessible
0,123,120230112,123202301120836_201_123-02,Równa,NaN,0,123_903433,1
1,123,120230112,123202301120936_201_123-02,Równa,NaN,0,123_903433,1
2,123,120230112,123202301121036_201_123-02,Równa,NaN,0,123_903433,1
3,123,120230112,123202301121136_201_123-02,Równa,NaN,0,123_903433,1
4,123,120230112,123202301121236_201_123-02,Równa,NaN,0,123_903433,1
...,...,...,...,...,...,...,...,...
80789,256,1820230126,256202301260506_11_256-01,Jankowo,NaN,0,256_904301,1
80790,256,1820230126,256202301260417_11_256-02,Jankowo,NaN,0,256_904301,1
80791,256,1820230126,256202301260602_11_256-02,Jankowo,NaN,0,256_904301,1
80792,256,1820230126,256202301260642_11_256-01,Jankowo,NaN,0,256_904301,1
80793,256,1820230126,256202301260722_11_256-02,Jankowo,NaN,0,256_904301,1

In [80]:
df_trips['direction_id'].value_counts()

0    40731
1    40063
Name: direction_id, dtype: int64

In [81]:
df_shapes = pd.read_csv('data/shapes.txt')
df_shapes

         shape_id  shape_pt_lat  shape_pt_lon  shape_pt_sequence
0       10_884475     54.397181     18.673705                  0
1       10_884475     54.397136     18.673677                  1
2       10_884475     54.397062     18.673573                  2
3       10_884475     54.397047     18.673281                  3
4       10_884475     54.397254     18.672838                  4
...           ...           ...           ...                ...
479410   9_884544     54.357943     18.683635                245
479411   9_884544     54.357920     18.683836                246
479412   9_884544     54.357886     18.683946                247
479413   9_884544     54.357825     18.684042                248
479414   9_884544     54.357764     18.684107                249

[479415 rows x 4 columns]

In [82]:
result = pd.merge(df_stoptimes, df_stops, how='inner',on='stop_id')

In [83]:
result

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type,stop_name,stop_lat,stop_lon,stop_code
0,401202301122334_152_401-01,23:34:00,23:34:00,195,0,0,1,Jaworzniaków 01,54.318041,18.568734,195
1,401202301122258_301_401-01,23:25:00,23:25:00,195,22,1,0,Jaworzniaków 01,54.318041,18.568734,195
2,401202301130113_11_401-01,26:25:00,26:25:00,195,49,1,0,Jaworzniaków 01,54.318041,18.568734,195
3,401202301130230_392_401-01,26:30:00,26:30:00,195,0,0,1,Jaworzniaków 01,54.318041,18.568734,195
4,401202301130357_322_401-04,27:57:00,27:57:00,195,0,0,1,Jaworzniaków 01,54.318041,18.568734,195
...,...,...,...,...,...,...,...,...,...,...,...
2051286,405202301262358_31_405-51,24:27:00,24:27:00,5611,20,3,3,Pruszcz Gdański 1 Maja 01,54.259833,18.633907,5611
2051287,405202301260058_31_405-51,25:27:00,25:27:00,5611,20,3,3,Pruszcz Gdański 1 Maja 01,54.259833,18.633907,5611
2051288,405202301270158_31_405-51,26:27:00,26:27:00,5611,20,3,3,Pruszcz Gdański 1 Maja 01,54.259833,18.633907,5611
2051289,405202301270258_31_405-51,27:27:00,27:27:00,5611,20,3,3,Pruszcz Gdański 1 Maja 01,54.259833,18.633907,5611
2051290,405202301262328_41_405-53,23:57:00,23:57:00,5611,20,3,3,Pruszcz Gdański 1 Maja 01,54.259833,18.633907,5611

In [84]:
#result = result.drop(columns='stop_code')
result[result['arrival_time'] != result['departure_time']]

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type,stop_name,stop_lat,stop_lon,stop_code
50997,401202301122334_152_401-01,23:53:00,24:00:00,1014,16,0,0,Dworzec Główny 05,54.355433,18.645914,1014
50998,401202301130230_392_401-01,26:53:00,27:00:00,1014,20,0,0,Dworzec Główny 05,54.355433,18.645914,1014
50999,401202301122316_12_401-11,23:28:00,23:30:00,1014,10,0,0,Dworzec Główny 05,54.355433,18.645914,1014
51000,401202301130357_322_401-04,28:23:00,28:30:00,1014,22,0,0,Dworzec Główny 05,54.355433,18.645914,1014
51001,401202301130327_322_401-03,27:53:00,28:00:00,1014,22,0,0,Dworzec Główny 05,54.355433,18.645914,1014
...,...,...,...,...,...,...,...,...,...,...,...
2018418,126202301200527_31_126-04,05:56:00,05:58:00,14428,24,0,0,Banino Borowiecka 02,54.393192,18.403191,7981
2018469,126202301230527_31_126-04,05:56:00,05:58:00,14428,24,0,0,Banino Borowiecka 02,54.393192,18.403191,7981
2018490,126202301240527_31_126-04,05:56:00,05:58:00,14428,24,0,0,Banino Borowiecka 02,54.393192,18.403191,7981
2018511,126202301250527_31_126-04,05:56:00,05:58:00,14428,24,0,0,Banino Borowiecka 02,54.393192,18.403191,7981
2018532,126202301260527_31_126-04,05:56:00,05:58:00,14428,24,0,0,Banino Borowiecka 02,54.393192,18.403191,7981

In [85]:
result['arrival_time_minutes'] = result['arrival_time'].map(lambda x: int(x[3:5]))
result['arrival_time_hours'] = result['arrival_time'].map(lambda x: int(x[:2]))
result['departure_time_minutes'] = result['departure_time'].map(lambda x: int(x[3:5]))
result['departure_time_hours'] = result['departure_time'].map(lambda x: int(x[:2]))

result['arrival_time_hours'] = result['arrival_time_hours'].apply(lambda x: x-24 if x >= 24 else x )
result['departure_time_hours'] = result['departure_time_hours'].apply(lambda x: x-24 if x >= 24 else x )

In [86]:
#result = result.drop(columns='minutes')
result

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type,stop_name,stop_lat,stop_lon,stop_code,arrival_time_minutes,arrival_time_hours,departure_time_minutes,departure_time_hours
0,401202301122334_152_401-01,23:34:00,23:34:00,195,0,0,1,Jaworzniaków 01,54.318041,18.568734,195,34,23,34,23
1,401202301122258_301_401-01,23:25:00,23:25:00,195,22,1,0,Jaworzniaków 01,54.318041,18.568734,195,25,23,25,23
2,401202301130113_11_401-01,26:25:00,26:25:00,195,49,1,0,Jaworzniaków 01,54.318041,18.568734,195,25,2,25,2
3,401202301130230_392_401-01,26:30:00,26:30:00,195,0,0,1,Jaworzniaków 01,54.318041,18.568734,195,30,2,30,2
4,401202301130357_322_401-04,27:57:00,27:57:00,195,0,0,1,Jaworzniaków 01,54.318041,18.568734,195,57,3,57,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2051286,405202301262358_31_405-51,24:27:00,24:27:00,5611,20,3,3,Pruszcz Gdański 1 Maja 01,54.259833,18.633907,5611,27,0,27,0
2051287,405202301260058_31_405-51,25:27:00,25:27:00,5611,20,3,3,Pruszcz Gdański 1 Maja 01,54.259833,18.633907,5611,27,1,27,1
2051288,405202301270158_31_405-51,26:27:00,26:27:00,5611,20,3,3,Pruszcz Gdański 1 Maja 01,54.259833,18.633907,5611,27,2,27,2
2051289,405202301270258_31_405-51,27:27:00,27:27:00,5611,20,3,3,Pruszcz Gdański 1 Maja 01,54.259833,18.633907,5611,27,3,27,3
2051290,405202301262328_41_405-53,23:57:00,23:57:00,5611,20,3,3,Pruszcz Gdański 1 Maja 01,54.259833,18.633907,5611,57,23,57,23

In [87]:
result = pd.merge(result, df_trips, how='inner',on='trip_id')
result

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type,stop_name,stop_lat,stop_lon,stop_code,arrival_time_minutes,arrival_time_hours,departure_time_minutes,departure_time_hours,route_id,service_id,trip_headsign,trip_short_name,direction_id,shape_id,wheelchair_accessible
0,401202301122334_152_401-01,23:34:00,23:34:00,195,0,0,1,Jaworzniaków 01,54.318041,18.568734,195,34,23,34,23,401,120230112,Osowa PKP,NaN,1,401_870029,1
1,401202301122334_152_401-01,23:35:00,23:35:00,1959,1,3,3,Elfów 01,54.315644,18.569767,1959,35,23,35,23,401,120230112,Osowa PKP,NaN,1,401_870029,1
2,401202301122334_152_401-01,23:36:00,23:36:00,1957,2,3,3,Osiedle Świętokrzyskie 01,54.313707,18.571342,1957,36,23,36,23,401,120230112,Osowa PKP,NaN,1,401_870029,1
3,401202301122334_152_401-01,23:38:00,23:38:00,1790,3,3,3,Wieżycka 01,54.318050,18.587063,1790,38,23,38,23,401,120230112,Osowa PKP,NaN,1,401_870029,1
4,401202301122334_152_401-01,23:39:00,23:39:00,1320,4,3,3,Niepołomicka 01,54.320205,18.595057,1320,39,23,39,23,401,120230112,Osowa PKP,NaN,1,401_870029,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2051286,107202301261810_22_107-09,18:39:00,18:39:00,5816,22,0,0,Pruszcz Gdański Emilii Plater 02,54.260229,18.660618,5816,39,18,39,18,107,1820230126,Pruszcz Gdański Komarowo,NaN,1,107_904364,1
2051287,107202301261810_22_107-09,18:10:00,18:10:00,5831,0,0,1,Pruszcz Gdański Rondo Kociewskie 01,54.241217,18.615771,5831,10,18,10,18,107,1820230126,Pruszcz Gdański Komarowo,NaN,1,107_904364,1
2051288,107202301261810_22_107-09,18:11:00,18:11:00,14584,1,3,3,Pruszcz Gdański Zastawna 01,54.245855,18.622089,5876,11,18,11,18,107,1820230126,Pruszcz Gdański Komarowo,NaN,1,107_904364,1
2051289,107202301261810_22_107-09,18:12:00,18:12:00,5874,2,3,3,Pruszcz Gdański Fabryczny 01,54.245377,18.626584,5874,12,18,12,18,107,1820230126,Pruszcz Gdański Komarowo,NaN,1,107_904364,1
2051290,107202301261810_22_107-09,18:14:00,18:14:00,5834,3,0,0,Pruszcz Gdański Batalionów Chłopskich 01,54.245894,18.631804,5834,14,18,14,18,107,1820230126,Pruszcz Gdański Komarowo,NaN,1,107_904364,1

In [88]:
result = pd.merge(result, df_routes, how='inner',on='route_id')
result

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type,stop_name,stop_lat,stop_lon,stop_code,arrival_time_minutes,arrival_time_hours,departure_time_minutes,departure_time_hours,route_id,service_id,trip_headsign,trip_short_name,direction_id,shape_id,wheelchair_accessible,agency_id,route_short_name,route_long_name,route_desc,route_type,route_color,route_text_color
0,401202301122334_152_401-01,23:34:00,23:34:00,195,0,0,1,Jaworzniaków 01,54.318041,18.568734,195,34,23,34,23,401,120230112,Osowa PKP,NaN,1,401_870029,1,0,N1,NaN,NaN,700,0000ff,ffffff
1,401202301122334_152_401-01,23:35:00,23:35:00,1959,1,3,3,Elfów 01,54.315644,18.569767,1959,35,23,35,23,401,120230112,Osowa PKP,NaN,1,401_870029,1,0,N1,NaN,NaN,700,0000ff,ffffff
2,401202301122334_152_401-01,23:36:00,23:36:00,1957,2,3,3,Osiedle Świętokrzyskie 01,54.313707,18.571342,1957,36,23,36,23,401,120230112,Osowa PKP,NaN,1,401_870029,1,0,N1,NaN,NaN,700,0000ff,ffffff
3,401202301122334_152_401-01,23:38:00,23:38:00,1790,3,3,3,Wieżycka 01,54.318050,18.587063,1790,38,23,38,23,401,120230112,Osowa PKP,NaN,1,401_870029,1,0,N1,NaN,NaN,700,0000ff,ffffff
4,401202301122334_152_401-01,23:39:00,23:39:00,1320,4,3,3,Niepołomicka 01,54.320205,18.595057,1320,39,23,39,23,401,120230112,Osowa PKP,NaN,1,401_870029,1,0,N1,NaN,NaN,700,0000ff,ffffff
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2051286,107202301261810_22_107-09,18:39:00,18:39:00,5816,22,0,0,Pruszcz Gdański Emilii Plater 02,54.260229,18.660618,5816,39,18,39,18,107,1820230126,Pruszcz Gdański Komarowo,NaN,1,107_904364,1,0,107,NaN,NaN,700,0000ff,ffffff
2051287,107202301261810_22_107-09,18:10:00,18:10:00,5831,0,0,1,Pruszcz Gdański Rondo Kociewskie 01,54.241217,18.615771,5831,10,18,10,18,107,1820230126,Pruszcz Gdański Komarowo,NaN,1,107_904364,1,0,107,NaN,NaN,700,0000ff,ffffff
2051288,107202301261810_22_107-09,18:11:00,18:11:00,14584,1,3,3,Pruszcz Gdański Zastawna 01,54.245855,18.622089,5876,11,18,11,18,107,1820230126,Pruszcz Gdański Komarowo,NaN,1,107_904364,1,0,107,NaN,NaN,700,0000ff,ffffff
2051289,107202301261810_22_107-09,18:12:00,18:12:00,5874,2,3,3,Pruszcz Gdański Fabryczny 01,54.245377,18.626584,5874,12,18,12,18,107,1820230126,Pruszcz Gdański Komarowo,NaN,1,107_904364,1,0,107,NaN,NaN,700,0000ff,ffffff
2051290,107202301261810_22_107-09,18:14:00,18:14:00,5834,3,0,0,Pruszcz Gdański Batalionów Chłopskich 01,54.245894,18.631804,5834,14,18,14,18,107,1820230126,Pruszcz Gdański Komarowo,NaN,1,107_904364,1,0,107,NaN,NaN,700,0000ff,ffffff

In [89]:
result = result.drop(columns=['route_long_name','route_desc','route_color','route_text_color'])

In [90]:
result = result.drop(columns=['trip_short_name'])

In [91]:
result.columns

Index(['trip_id', 'arrival_time', 'departure_time', 'stop_id', 'stop_sequence',
       'pickup_type', 'drop_off_type', 'stop_name', 'stop_lat', 'stop_lon',
       'stop_code', 'arrival_time_minutes', 'arrival_time_hours',
       'departure_time_minutes', 'departure_time_hours', 'route_id',
       'service_id', 'trip_headsign', 'direction_id', 'shape_id',
       'wheelchair_accessible', 'agency_id', 'route_short_name', 'route_type'],
      dtype='object')

In [92]:
result

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type,stop_name,stop_lat,stop_lon,stop_code,arrival_time_minutes,arrival_time_hours,departure_time_minutes,departure_time_hours,route_id,service_id,trip_headsign,direction_id,shape_id,wheelchair_accessible,agency_id,route_short_name,route_type
0,401202301122334_152_401-01,23:34:00,23:34:00,195,0,0,1,Jaworzniaków 01,54.318041,18.568734,195,34,23,34,23,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700
1,401202301122334_152_401-01,23:35:00,23:35:00,1959,1,3,3,Elfów 01,54.315644,18.569767,1959,35,23,35,23,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700
2,401202301122334_152_401-01,23:36:00,23:36:00,1957,2,3,3,Osiedle Świętokrzyskie 01,54.313707,18.571342,1957,36,23,36,23,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700
3,401202301122334_152_401-01,23:38:00,23:38:00,1790,3,3,3,Wieżycka 01,54.318050,18.587063,1790,38,23,38,23,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700
4,401202301122334_152_401-01,23:39:00,23:39:00,1320,4,3,3,Niepołomicka 01,54.320205,18.595057,1320,39,23,39,23,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2051286,107202301261810_22_107-09,18:39:00,18:39:00,5816,22,0,0,Pruszcz Gdański Emilii Plater 02,54.260229,18.660618,5816,39,18,39,18,107,1820230126,Pruszcz Gdański Komarowo,1,107_904364,1,0,107,700
2051287,107202301261810_22_107-09,18:10:00,18:10:00,5831,0,0,1,Pruszcz Gdański Rondo Kociewskie 01,54.241217,18.615771,5831,10,18,10,18,107,1820230126,Pruszcz Gdański Komarowo,1,107_904364,1,0,107,700
2051288,107202301261810_22_107-09,18:11:00,18:11:00,14584,1,3,3,Pruszcz Gdański Zastawna 01,54.245855,18.622089,5876,11,18,11,18,107,1820230126,Pruszcz Gdański Komarowo,1,107_904364,1,0,107,700
2051289,107202301261810_22_107-09,18:12:00,18:12:00,5874,2,3,3,Pruszcz Gdański Fabryczny 01,54.245377,18.626584,5874,12,18,12,18,107,1820230126,Pruszcz Gdański Komarowo,1,107_904364,1,0,107,700
2051290,107202301261810_22_107-09,18:14:00,18:14:00,5834,3,0,0,Pruszcz Gdański Batalionów Chłopskich 01,54.245894,18.631804,5834,14,18,14,18,107,1820230126,Pruszcz Gdański Komarowo,1,107_904364,1,0,107,700

In [93]:
result[result["trip_id"]=='401202301122334_152_401-01']

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type,stop_name,stop_lat,stop_lon,stop_code,arrival_time_minutes,arrival_time_hours,departure_time_minutes,departure_time_hours,route_id,service_id,trip_headsign,direction_id,shape_id,wheelchair_accessible,agency_id,route_short_name,route_type
0,401202301122334_152_401-01,23:34:00,23:34:00,195,0,0,1,Jaworzniaków 01,54.318041,18.568734,195,34,23,34,23,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700
1,401202301122334_152_401-01,23:35:00,23:35:00,1959,1,3,3,Elfów 01,54.315644,18.569767,1959,35,23,35,23,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700
2,401202301122334_152_401-01,23:36:00,23:36:00,1957,2,3,3,Osiedle Świętokrzyskie 01,54.313707,18.571342,1957,36,23,36,23,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700
3,401202301122334_152_401-01,23:38:00,23:38:00,1790,3,3,3,Wieżycka 01,54.318050,18.587063,1790,38,23,38,23,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700
4,401202301122334_152_401-01,23:39:00,23:39:00,1320,4,3,3,Niepołomicka 01,54.320205,18.595057,1320,39,23,39,23,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700
5,401202301122334_152_401-01,23:40:00,23:40:00,1318,5,3,3,Łódzka 01,54.323113,18.602915,1318,40,23,40,23,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700
6,401202301122334_152_401-01,23:41:00,23:41:00,1743,6,3,3,Świętokrzyska 01,54.324457,18.605851,1743,41,23,41,23,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700
7,401202301122334_152_401-01,23:42:00,23:42:00,1232,7,3,3,Platynowa 01,54.327313,18.611176,1232,42,23,42,23,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700
8,401202301122334_152_401-01,23:43:00,23:43:00,1230,8,3,3,Małomiejska 01,54.329374,18.618563,1230,43,23,43,23,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700
9,401202301122334_152_401-01,23:44:00,23:44:00,1228,9,3,3,Ptasia 01,54.330170,18.626562,1228,44,23,44,23,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700
10,401202301122334_152_401-01,23:45:00,23:45:00,1206,10,3,3,Sandomierska 01,54.332401,18.634878,1206,45,23,45,23,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700
11,401202301122334_152_401-01,23:46:00,23:46:00,1204,11,3,3,Stare Szkoty 01,54.335907,18.636677,1204,46,23,46,23,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700
12,401202301122334_152_401-01,23:47:00,23:47:00,1202,12,3,3,Brama Oruńska 01,54.339765,18.640456,1202,47,23,47,23,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700
13,401202301122334_152_401-01,23:48:00,23:48:00,1200,13,3,3,Zaroślak 01,54.341625,18.642672,1200,48,23,48,23,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700
14,401202301122334_152_401-01,23:49:00,23:49:00,1004,14,3,3,Toruńska 01,54.345709,18.645593,1004,49,23,49,23,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700
15,401202301122334_152_401-01,23:51:00,23:51:00,1028,15,0,0,Brama Wyżynna 05,54.350371,18.646311,1028,51,23,51,23,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700
16,401202301122334_152_401-01,23:53:00,24:00:00,1014,16,0,0,Dworzec Główny 05,54.355433,18.645914,1014,53,23,0,0,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700
17,401202301122334_152_401-01,24:01:00,24:01:00,1542,17,3,3,Brama Oliwska 03,54.362092,18.642100,1542,1,0,1,0,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700
18,401202301122334_152_401-01,24:03:00,24:03:00,1600,18,3,3,Uniwersytet Medyczny 03,54.367666,18.632928,1600,3,0,3,0,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700
19,401202301122334_152_401-01,24:05:00,24:05:00,1912,19,3,3,Opera Bałtycka 06,54.372823,18.624979,1912,5,0,5,0,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700
20,401202301122334_152_401-01,24:06:00,24:06:00,1652,20,3,3,Wyspiańskiego 03,54.376851,18.623622,1652,6,0,6,0,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700
21,401202301122334_152_401-01,24:08:00,24:08:00,1654,21,3,3,Mickiewicza 05,54.383661,18.622073,1654,8,0,8,0,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700
22,401202301122334_152_401-01,24:09:00,24:09:00,1602,22,3,3,Kościuszki 05,54.388293,18.622606,1602,9,0,9,0,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700
23,401202301122334_152_401-01,24:11:00,24:11:00,1910,23,3,3,Grudziądzka 04,54.396338,18.622572,1910,11,0,11,0,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700
24,401202301122334_152_401-01,24:14:00,24:14:00,1121,24,3,3,Chrobrego 01,54.388156,18.616145,1121,14,0,14,0,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700
25,401202301122334_152_401-01,24:15:00,24:15:00,1618,25,3,3,Legionów 03,54.388003,18.610239,1618,15,0,15,0,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700
26,401202301122334_152_401-01,24:16:00,24:16:00,1616,26,3,3,Żwirki i Wigury 03,54.392172,18.606022,1616,16,0,16,0,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700
27,401202301122334_152_401-01,24:17:00,24:17:00,1559,27,3,3,Startowa 03,54.396870,18.598168,1559,17,0,17,0,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700
28,401202301122334_152_401-01,24:19:00,24:19:00,1614,28,3,3,Kołobrzeska 04,54.402466,18.592062,1614,19,0,19,0,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700
29,401202301122334_152_401-01,24:21:00,24:21:00,1454,29,3,3,Bora-Komorowskiego 04,54.408961,18.587320,1454,21,0,21,0,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700
30,401202301122334_152_401-01,24:22:00,24:22:00,1740,30,3,3,Beniowskiego 01,54.409432,18.578955,1740,22,0,22,0,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700
31,401202301122334_152_401-01,24:23:00,24:23:00,1716,31,3,3,Oliwa PKP 01,54.411164,18.572996,1716,23,0,23,0,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700
32,401202301122334_152_401-01,24:25:00,24:25:00,120,32,3,3,Oliwa Pętla Tramwajowa 07,54.409256,18.567083,120,25,0,25,0,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700
33,401202301122334_152_401-01,24:25:00,24:25:00,1833,33,3,3,Obrońców Westerplatte 05,54.408729,18.563662,1833,25,0,25,0,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700
34,401202301122334_152_401-01,24:27:00,24:27:00,1503,34,3,3,Cystersów 02,54.408996,18.555540,1503,27,0,27,0,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700
35,401202301122334_152_401-01,24:30:00,24:30:00,1507,35,3,3,Rynarzewo 02,54.421843,18.536953,1507,30,0,30,0,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700
36,401202301122334_152_401-01,24:34:00,24:34:00,1509,36,3,3,Osowa Obwodnica 02,54.428877,18.496056,1509,34,0,34,0,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700
37,401202301122334_152_401-01,24:37:00,24:37:00,1511,37,3,3,Sopocka 02,54.430101,18.476275,1511,37,0,37,0,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700
38,401202301122334_152_401-01,24:38:00,24:38:00,1513,38,3,3,Nowa 02,54.432505,18.471316,1513,38,0,38,0,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700
39,401202301122334_152_401-01,24:39:00,24:39:00,1515,39,3,3,Barniewicka 02,54.434212,18.466075,1515,39,0,39,0,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700
40,401202301122334_152_401-01,24:40:00,24:40:00,1517,40,3,3,Niedziałkowskiego 02,54.430278,18.461985,1517,40,0,40,0,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700
41,401202301122334_152_401-01,24:41:00,24:41:00,1519,41,3,3,Biwakowa 02,54.427034,18.459904,1519,41,0,41,0,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700
42,401202301122334_152_401-01,24:42:00,24:42:00,1551,42,3,3,Konkordii 02,54.424518,18.456976,1551,42,0,42,0,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700
43,401202301122334_152_401-01,24:43:00,24:43:00,14555,43,1,0,Osowa PKP 01,54.420956,18.452618,363,43,0,43,0,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700
44,401202301122334_152_401-01,24:43:00,24:43:00,161,44,1,1,Osowa PKP 03,54.420618,18.451960,161,43,0,43,0,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700

In [94]:
#stop_id = 195, godzina i minuta = 15:15

In [95]:
result[(result["stop_id"]==195)]

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type,stop_name,stop_lat,stop_lon,stop_code,arrival_time_minutes,arrival_time_hours,departure_time_minutes,departure_time_hours,route_id,service_id,trip_headsign,direction_id,shape_id,wheelchair_accessible,agency_id,route_short_name,route_type
0,401202301122334_152_401-01,23:34:00,23:34:00,195,0,0,1,Jaworzniaków 01,54.318041,18.568734,195,34,23,34,23,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700
45,401202301122258_301_401-01,23:25:00,23:25:00,195,22,1,0,Jaworzniaków 01,54.318041,18.568734,195,25,23,25,23,401,120230112,Jaworzniaków,0,401_870024,1,0,N1,700
68,401202301130113_11_401-01,26:25:00,26:25:00,195,49,1,0,Jaworzniaków 01,54.318041,18.568734,195,25,2,25,2,401,120230112,Jaworzniaków,0,401_870017,1,0,N1,700
118,401202301130230_392_401-01,26:30:00,26:30:00,195,0,0,1,Jaworzniaków 01,54.318041,18.568734,195,30,2,30,2,401,120230112,Osowa PKP,1,401_870018,1,0,N1,700
167,401202301130357_322_401-04,27:57:00,27:57:00,195,0,0,1,Jaworzniaków 01,54.318041,18.568734,195,57,3,57,3,401,120230112,Grudziądzka,1,401_870033,1,0,N1,700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93981,404202301222317_11_404-14,23:18:00,23:18:00,195,1,0,1,Jaworzniaków 01,54.318041,18.568734,195,18,23,18,23,404,120230122,Jelitkowo,0,404_904334,1,0,N4,700
94031,404202301232317_11_404-14,23:18:00,23:18:00,195,1,0,1,Jaworzniaków 01,54.318041,18.568734,195,18,23,18,23,404,120230123,Jelitkowo,0,404_904334,1,0,N4,700
94081,404202301242317_11_404-14,23:18:00,23:18:00,195,1,0,1,Jaworzniaków 01,54.318041,18.568734,195,18,23,18,23,404,120230124,Jelitkowo,0,404_904334,1,0,N4,700
94131,404202301252317_11_404-14,23:18:00,23:18:00,195,1,0,1,Jaworzniaków 01,54.318041,18.568734,195,18,23,18,23,404,120230125,Jelitkowo,0,404_904334,1,0,N4,700
94181,404202301262317_11_404-14,23:18:00,23:18:00,195,1,0,1,Jaworzniaków 01,54.318041,18.568734,195,18,23,18,23,404,120230126,Jelitkowo,0,404_904334,1,0,N4,700

In [96]:
result[(result["stop_id"]==195) &
       (result['departure_time_hours'] >= 15 ) & 
       (result['departure_time_minutes'] >= 15)  ]

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type,stop_name,stop_lat,stop_lon,stop_code,arrival_time_minutes,arrival_time_hours,departure_time_minutes,departure_time_hours,route_id,service_id,trip_headsign,direction_id,shape_id,wheelchair_accessible,agency_id,route_short_name,route_type
0,401202301122334_152_401-01,23:34:00,23:34:00,195,0,0,1,Jaworzniaków 01,54.318041,18.568734,195,34,23,34,23,401,120230112,Osowa PKP,1,401_870029,1,0,N1,700
45,401202301122258_301_401-01,23:25:00,23:25:00,195,22,1,0,Jaworzniaków 01,54.318041,18.568734,195,25,23,25,23,401,120230112,Jaworzniaków,0,401_870024,1,0,N1,700
826,401202301132334_152_401-31,23:34:00,23:34:00,195,0,0,1,Jaworzniaków 01,54.318041,18.568734,195,34,23,34,23,401,120230113,Osowa PKP,1,401_870029,1,0,N1,700
871,401202301132258_301_401-31,23:25:00,23:25:00,195,22,1,0,Jaworzniaków 01,54.318041,18.568734,195,25,23,25,23,401,120230113,Jaworzniaków,0,401_870024,1,0,N1,700
1393,401202301142334_152_401-31,23:34:00,23:34:00,195,0,0,1,Jaworzniaków 01,54.318041,18.568734,195,34,23,34,23,401,120230114,Osowa PKP,1,401_870029,1,0,N1,700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93981,404202301222317_11_404-14,23:18:00,23:18:00,195,1,0,1,Jaworzniaków 01,54.318041,18.568734,195,18,23,18,23,404,120230122,Jelitkowo,0,404_904334,1,0,N4,700
94031,404202301232317_11_404-14,23:18:00,23:18:00,195,1,0,1,Jaworzniaków 01,54.318041,18.568734,195,18,23,18,23,404,120230123,Jelitkowo,0,404_904334,1,0,N4,700
94081,404202301242317_11_404-14,23:18:00,23:18:00,195,1,0,1,Jaworzniaków 01,54.318041,18.568734,195,18,23,18,23,404,120230124,Jelitkowo,0,404_904334,1,0,N4,700
94131,404202301252317_11_404-14,23:18:00,23:18:00,195,1,0,1,Jaworzniaków 01,54.318041,18.568734,195,18,23,18,23,404,120230125,Jelitkowo,0,404_904334,1,0,N4,700
94181,404202301262317_11_404-14,23:18:00,23:18:00,195,1,0,1,Jaworzniaków 01,54.318041,18.568734,195,18,23,18,23,404,120230126,Jelitkowo,0,404_904334,1,0,N4,700

<h1>Functions<h1>

In [131]:
result['departure_time'] = result['departure_time'].apply(lambda x: str(int(x[:2]) - 24) + x[2:] if int(x[:2]) >= 24 else x)
result['arrival_time'] = result['arrival_time'].apply(lambda x: str(int(x[:2]) - 24) + x[2:] if int(x[:2]) >= 24 else x)

In [139]:
result['arrival_time'] = result['arrival_time'].apply(lambda x: datetime.strptime(x, '%H:%M:%S'))
result['departure_time'] = result['departure_time'].apply(lambda x: datetime.strptime(x, '%H:%M:%S'))

In [132]:
def get_all_departures_from_bus_stop(stop_id: int, arrival_time: str):
    time = datetime.strptime(arrival_time, '%H:%M')
#     hour = int(arrival_time[:2])
#     minute = int(arrival_time[3:5])
    all_deparutres = result[(result["stop_id"]==stop_id) &
       (result['departure_time'] >= time )]
    return all_deparutres
#df.sort_values(by=['col1', 'col2'])

In [133]:
tmp = get_all_departures_from_bus_stop(313,'00:59')
tmp.sort_values(by=['departure_time_hours', 'departure_time_minutes'])

TypeError: '>=' not supported between instances of 'str' and 'datetime.datetime'

In [99]:
result[result['stop_name']=='Wrzeszcz PKP 06']

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type,stop_name,stop_lat,stop_lon,stop_code,arrival_time_minutes,arrival_time_hours,departure_time_minutes,departure_time_hours,route_id,service_id,trip_headsign,direction_id,shape_id,wheelchair_accessible,agency_id,route_short_name,route_type
44203,115202301120459_42_115-04,04:59:00,04:59:00,313,0,0,1,Wrzeszcz PKP 06,54.381766,18.603963,313,59,4,59,4,115,120230112,Jaworzniaków,1,115_903600,1,0,115,700
44684,115202301120520_72_115-06,05:20:00,05:20:00,313,0,1,1,Wrzeszcz PKP 06,54.381766,18.603963,313,20,5,20,5,115,120230112,Jaworzniaków,1,115_903601,1,0,115,700
44982,115202301120538_42_115-07,05:38:00,05:38:00,313,0,0,1,Wrzeszcz PKP 06,54.381766,18.603963,313,38,5,38,5,115,120230112,Jaworzniaków,1,115_903600,1,0,115,700
45278,115202301120618_42_115-11,06:18:00,06:18:00,313,0,0,1,Wrzeszcz PKP 06,54.381766,18.603963,313,18,6,18,6,115,120230112,Jaworzniaków,1,115_903600,1,0,115,700
45315,115202301120641_42_115-12,06:41:00,06:41:00,313,0,0,1,Wrzeszcz PKP 06,54.381766,18.603963,313,41,6,41,6,115,120230112,Jaworzniaków,1,115_903600,1,0,115,700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1648080,126202301261937_12_126-05,20:08:00,20:08:00,313,23,1,0,Wrzeszcz PKP 06,54.381766,18.603963,313,8,20,8,20,126,1820230126,Wrzeszcz PKP,1,126_904430,1,0,126,700
1648104,126202301260501_12_126-06,05:34:00,05:34:00,313,23,1,0,Wrzeszcz PKP 06,54.381766,18.603963,313,34,5,34,5,126,1820230126,Wrzeszcz PKP,1,126_904430,1,0,126,700
1648128,126202301260645_92_126-06,07:35:00,07:35:00,313,30,1,0,Wrzeszcz PKP 06,54.381766,18.603963,313,35,7,35,7,126,1820230126,Wrzeszcz PKP,1,126_904228,1,0,126,700
1648159,126202301260640_12_126-07,07:15:00,07:15:00,313,23,1,0,Wrzeszcz PKP 06,54.381766,18.603963,313,15,7,15,7,126,1820230126,Wrzeszcz PKP,1,126_904430,1,0,126,700
1648183,126202301260802_12_126-07,08:37:00,08:37:00,313,23,1,0,Wrzeszcz PKP 06,54.381766,18.603963,313,37,8,37,8,126,1820230126,Wrzeszcz PKP,1,126_904430,1,0,126,700

In [111]:
from datetime import datetime

In [113]:
print(datetime.strptime('15:15', '%H:%M'))

1900-01-01 15:15:00